<header>
<% if(user) { %>
  <form action="/logout" method="POST">
    <input type="submit" value="Logout">
    <br>
    <a href='/register'>Register Link</a>
  </form>
<% } else{ %>
    <a href='/login'>Login Link</a>
<% } %>
</header>

