<!DOCTYPE html>
<html lang="en">
<head>
  <title>URLS-SHOW-TinyApp</title>
</head>
<body>
    <% include partials/_header %>
    <h1>
      <p>ShortURL: <%= shortURL %>  </p>
    </h1>
  <form method="POST" action="/urls/<%= shortURL %>" >
    <input type="text" style="float: left; height: 25px; width: 200px;" id="url" value="<%= longURL%>" name="newurl">
    <button style="font-size: 20px; margin: 2px; float: left;" id="i">Update</button>
  </form>
</body>
</html>